[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = TR
countryName_default = TR
stateOrProvinceName = Istanbul
stateOrProvinceName_default = Istanbul
localityName = Istanbul
localityName_default = Istanbul
organizationalUnitName  = BT
organizationalUnitName_default  = BT
commonName = k8s-registry.local
commonName_max  = 64

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.1 = k8s-registry.local
IP.1 = 192.168.56.10

